<section class="container-fluid">
    <div class="row">
        <div class="col-md-7 offset-md-1">
            <h2>Notre concept</h2>
            <p>
                Nous sélectionnons pour vous un choix de vins naturels en constante évolution.
                Des vins issus de vignes cultivées dans le respect du vivant sans chimie polluante,
                souvent en culture biologique ou en biodynamie, qui permettent de vinifier des vins
                sans intrants œnologiques (levures, enzymes, acides, soufre, colle).
                Ce sont des vins vivants et authentiques, véritables reflet d’un cépage sur un terroir,
                des vins réalisés dans le respect de ceux qui les boivent…
                Alors bon appétit et large soif !
            </p>
            <a class="btn btn-primary" href="#">Découvrez nos vins</a>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
            <img class="concept-image" src="http://via.placeholder.com/350x350" alt="">
        </div>
    </div>

</section>
