{% extends 'layout.html.twig' %}

{% block title %}Becs à Vin - Accueil{% endblock %}

{% block content %}
    <header class="text-center my-5">
        <h1>Bienvenue chez Les Becs à Vin !</h1>
        <h2>Bar à vin – Bistrot – Caviste</h2>
    </header>

    <main>
    {% include 'Home/_concept.html.twig' %}
    </main>
{% endblock %}
