{% extends 'layout.html.twig' %}

{% block title %}Administrer les vins{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="text-center my-5">
        <h1>Administrer la carte de nos vins</h1>
        <a class="btn btn-primary" href="/adminWine/add">Ajouter un vin</a>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th>Producteur</th>
                    <th>Année</th>
                </tr>
            </thead>
            <tbody>
        {% for wine in wines %}
            <tr>
                <td>{{ wine.name }}</td>
                <td>{{ wine.color }}</td>
                <td>{{ wine.producer }}</td>
                <td>{{ wine.year }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
