@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Roboto:wght@300;500;700&display=swap');

:root {
    --main-color:#0E306E;
    --main-lighter-color:#1A4AA3;
    --dark:#040E22;
    --light:#F8FAFF;
    --shadow:#AAAFBA;

    --spacing:8px;
    --spacing-l: calc(var(--spacing) * 2);
    --spacing-xl: calc(var(--spacing) * 3);

    --main-font:'Roboto', sans-serif;
    --title-font: 'Baumans', cursive;
}

body {
    font-family: var(--main-font);
    background-color: var(--light);
    color: var(--dark);
}


h1, h2, h3 {
    font-family: var(--title-font);
}

.logo {
    width:30px;
}

.navbar {
    background-color: var(--main-color);
    color:var(--light);
}

.btn-primary {
    background-color: var(--main-color);
}
.btn-primary:hover {
    background-color: var(--main-lighter-color);
}

.alert:empty{
    display: none;
}

.concept-image {
    width: 100%;
    object-fit: cover;
}

.color {
    --radius:10px;
    --diameter: calc(var(--radius) * 2);
    --wine-color:transparent;
    display: inline-block;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: var(--radius);
    border:1px solid var(--dark);
    background-color: var(--wine-color);

}

.wine {
}
.wine .dot {
    border-bottom:1px dotted var(--dark);
    flex-grow: 1;
    translate:0 -5px;
}

.wine-info span {
    padding-left:var(--spacing);
}


