<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo.png" alt="logo" class="logo" />
            Les Becs à vins
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Nos vins</a>
                <a class="nav-item nav-link" href="#">Nos plats</a>
                <a class="nav-item nav-link" href="#">Réservation</a>
            </div>
        </div>
    </nav>
</header>
